In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
K = tf.keras.backend

In [2]:
dance=pd.read_csv("data/dance_em.csv",encoding="utf-8")

In [3]:
dances=dance.drop(['Unnamed: 0'],axis=1)

In [4]:
user=pd.read_csv("data/user_em.csv",encoding="utf-8")

In [5]:
users=user.drop(["Unnamed: 0","birthday"],axis=1)

In [6]:
users.head()

        user_id  level  sex_em
0  1.000043e+09      4       1
1  1.000046e+08      4       0
2  1.000061e+08      4       0
3  1.000068e+08      6       0
4  1.000082e+09      2       0

In [7]:
users[users['user_id'].isin([24696418])]

          user_id  level  sex_em
74175  24696418.0      5       0

In [8]:
action=pd.read_csv("data/action.csv",encoding="utf-8")

In [9]:
action=action.drop(['Unnamed: 0'],axis=1)

In [10]:
data_t=pd.merge(action,users,on=['user_id'])

In [11]:
data=pd.merge(data_t,dances,on=['dance_id'])

In [12]:
data.head()

,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,title_em2,...,tag_em290,tag_em291,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299
0,207000097,24696418,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
1,207000097,32507861,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
2,207000097,39060478,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
3,207000097,85909646,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
4,207000097,172874760,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917

In [13]:
data = data.sample(frac=1)#打乱数据
data.head()

,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,title_em2,...,tag_em290,tag_em291,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299
509692,848106292,521331819,1.000,5,0,102,11079,0.214358,0.571205,1.090866,...,0.176886,0.218690,-0.563499,0.029256,0.494778,0.698658,0.484723,0.127818,0.215772,-0.011090
269569,720855610,26340467,1.000,5,0,77175,3950529,-0.267392,0.398959,0.844915,...,0.228386,0.423234,-0.057330,-0.437110,0.773503,1.031607,0.520909,0.303133,0.730587,-0.547233
627459,421003481,349230815,0.000,5,1,14,1631,0.385791,0.031012,2.163575,...,0.451030,0.714630,-0.212719,0.539659,0.858498,0.629344,0.344095,-0.216568,-0.618642,0.418839
669310,549919984,674264050,0.745,5,0,29,698,1.288728,0.387402,0.598331,...,-0.131925,0.103517,-0.077443,-0.329420,-0.148279,1.237632,0.358251,0.395221,0.284582,0.143676
122312,379536282,384340877,1.000,4,0,251879,8463781,0.294906,0.599728,0.277224,...,-0.246547,0.202318,-0.427353,-0.202041,0.754443,0.893175,0.480693,0.438089,0.245608,-0.020120

In [14]:
len(data)

845464

In [2]:
data=pd.read_csv('data/data_em.csv')

In [3]:
len(data)

845464

In [6]:
data.head()

,dance_id,user_id,lable,level,sex_em,favorites,play,title_em0,title_em1,title_em2,...,tag_em290,tag_em291,tag_em292,tag_em293,tag_em294,tag_em295,tag_em296,tag_em297,tag_em298,tag_em299
0,207000097,24696418,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
1,207000097,32507861,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
2,207000097,39060478,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
3,207000097,85909646,1.0,6,2,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917
4,207000097,172874760,1.0,5,0,27,3914,0.229985,0.410569,0.608845,...,-0.640722,0.18465,-0.154432,0.706104,0.758894,0.543305,1.201806,0.140227,0.024433,0.016917

In [5]:
data=data.drop(['Unnamed: 0'],axis=1)

In [7]:
X_data=data.drop(['lable'],axis=1)

In [8]:
X_data_array=X_data.values

In [9]:
y=np.array(data["lable"])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X_data_array, y, test_size=0.2,
                                                        random_state=2022)

In [11]:
YoutobeDNN = tf.keras.models.Sequential()
YoutobeDNN.add(tf.keras.layers.Dense(units=512,
                                input_dim=606,
                                use_bias=True,
                                kernel_initializer='uniform',
                                bias_initializer='zeros',
                                activation='relu'))
YoutobeDNN.add(tf.keras.layers.Dense(units=256,
                                activation='relu'))
YoutobeDNN.add(tf.keras.layers.Dense(units=128,
                                activation='relu'))
YoutobeDNN.add(tf.keras.layers.Dense(units=32,
                                activation='relu'))
YoutobeDNN.add(tf.keras.layers.Dropout(rate=0.5))
YoutobeDNN.add(tf.keras.layers.Dense(units=1,
                                activation='sigmoid'))

In [12]:
YoutobeDNN.summary()
YoutobeDNN.compile(optimizer=tf.keras.optimizers.Adam(0.001),
              loss='binary_crossentropy',
              metrics=['accuracy'])

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               310784
_________________________________________________________________
dense_1 (Dense)              (None, 256)               131328
_________________________________________________________________
dense_2 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_3 (Dense)              (None, 32)                4128
_________________________________________________________________
dropout (Dropout)            (None, 32)                0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 33
=================================================================
Total params: 479,169
Trainable params: 479,169
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history=YoutobeDNN.fit(X_train, y_train, epochs=100, batch_size=256, validation_data=(X_test, y_test))

Epoch 1/100
2643/2643 [==============================] - 12s 4ms/step - loss: 5034.4409 - accuracy: 0.4424 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 2/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 3/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 4/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 5/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 6/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 7/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 8/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 9/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 10/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 11/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 12/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 13/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 14/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 15/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 16/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 17/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 18/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 19/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 20/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 21/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 22/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 23/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 24/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 25/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 26/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 27/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 28/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 29/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 30/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 31/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 32/100
2643/2643 [==============================] - 12s 5ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 33/100
2643/2643 [==============================] - 12s 5ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 34/100
2643/2643 [==============================] - 12s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 35/100
2643/2643 [==============================] - 12s 5ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 36/100
2643/2643 [==============================] - 12s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 37/100
2643/2643 [==============================] - 12s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 38/100
2643/2643 [==============================] - 12s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 39/100
2643/2643 [==============================] - 11s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 40/100
2643/2643 [==============================] - 10s 4ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 41/100
2643/2643 [==============================] - 12s 5ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 42/100
2643/2643 [==============================] - 12s 5ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 43/100
2643/2643 [==============================] - 12s 5ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6789 - val_accuracy: 0.4454
Epoch 44/100
2643/2643 [==============================] - 13s 5ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 45/100
2643/2643 [==============================] - 13s 5ms/step - loss: 0.6794 - accuracy: 0.4436 - val_loss: 0.6788 - val_accuracy: 0.4454
Epoch 46/100
 956/2643 [=========>....................] - ETA: 7s - loss: 0.6796 - accuracy: 0.4430

In [ ]:
YoutobeDNN.save("myYoutobeDNN.h5")

In [ ]:
new_model = tf.keras.models.load_model('myYoutobeDNN.h5')

In [ ]:
y_p=new_model.predict(X_test)